@font-face {
  font-family: 'CareAround';
  src: local('CareAround'),
    url('./fonts/CareAroundRegular.otf') format('opentype'),
    url('./fonts/CareAroundItalic.otf') format('opentype');
}

body {
  font-family: 'CareAround';
}

.App {
  text-align: center;
}

.App-logo {
  height: 130px;
}

.App-logo-footer {
  height: 180px;
}

.aboutus {
  height: 430px;
}

.ourClientsImg {
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
